In [3]:
import pandas as pd

# Performance DataFrame E267, 271, 335, 345, 347

In [4]:
E267 = pd.read_excel("/Users/sebastianbedoyamazo/Documents/experiments/Datos ensayo E-267 Aceites esenciales 21-09-2017.xlsx", "Datos Estadística")
E271 = pd.read_excel("/Users/sebastianbedoyamazo/Library/CloudStorage/GoogleDrive-sebastian.bedoya@premexcorp.com/.shortcut-targets-by-id/15mKBa5ogkSaPz2wAQGRuDxS32hSeoaBw/Analisis/E271/performance_data/Libro de datos E-271 Probióticos NF revisión 18-07-2022.xlsx", "Datos Estadística")
E321 = pd.read_excel("/Users/sebastianbedoyamazo/Library/CloudStorage/GoogleDrive-sebastian.bedoya@premexcorp.com/.shortcut-targets-by-id/15mKBa5ogkSaPz2wAQGRuDxS32hSeoaBw/Analisis/Perfomance_template/performance_E321.xlsx")
E325 = pd.read_excel("/Users/sebastianbedoyamazo/Documents/experiments/Raw Data E-325.xlsx")
E326 = pd.read_excel("/Users/sebastianbedoyamazo/Documents/experiments/Raw Data E-326 2nd Cocci Trial .xlsx")

E345 = pd.read_excel("/Users/sebastianbedoyamazo/Library/CloudStorage/GoogleDrive-sebastian.bedoya@premexcorp.com/.shortcut-targets-by-id/15mKBa5ogkSaPz2wAQGRuDxS32hSeoaBw/Analisis/E345/Raw Data E-345 Enzybox.xlsx") 

E347 = pd.read_excel("/Users/sebastianbedoyamazo/Library/CloudStorage/GoogleDrive-sebastian.bedoya@premexcorp.com/.shortcut-targets-by-id/15mKBa5ogkSaPz2wAQGRuDxS32hSeoaBw/Analisis/E347/Broilers Performance Data/E-347 New Format.xlsx", "Data to stat")

# E267

In [5]:
print(list(E267.columns))
E267["Projectid"] = 'E267'
E267.head()

['Galpon', 'Bloque', 'Zona', 'Lado', 'Corral', 'Tratamiento', 'Aves finales sem6', 'Aves finales sem1', 'BW8/A Fin. W1', 'BW1/A (g)', 'BW8/A (g)', 'BW8/A (dens. Adj) (g)', 'BW15/A (g)', 'BW22/A (g)', 'BW29/A g', 'BW36/A g', 'BW42/A g', 'FC/A 0a8  (g)', 'FC/A 0a8  (g) ©', 'FC/A 9a15 (g)', 'FC/A 9a15 (g) ©', 'FC/A 16a22 (g)', 'FC/A 16a22 (g) ©', 'FC/A 9a22 (g)', 'FC/A 9a22 (g) ©', 'FC/A 23a29 (g)', 'FC/A 23a29 (g) ©', 'FC/A 30a36 (g)', 'FC/A 30a36 (g) ©', 'FC/A 23a36 (g)', 'FC/A 23a36 (g) ©', 'FC/A37a42', 'FC/A37a42 ©', 'FC/A 0a14 (g)', 'FC/A 0a21 (g)', 'FC/A 0a28 (g)', 'FC/A 0a35 (g)', 'FC/A 0a42 (g)', 'FC/A 7a21 (g)', 'FC/A 23a36 (g).1', 'FC/A 0a42 (g).1', 'BWG/A 0a8 (g)', 'BWG/A 8a15 (g)', 'BWG/A 15a22 (g)', 'BWG/A 9a22 (g)', 'BWG/A23a29 (g)', 'BWG/A 30a36 g', 'BWG/A37a42 g', 'BWG/A 0a14 (g)', 'BWG/A 0a21 (g)', 'BWG 0a28/A (g)', 'BWG 0a35/A (g)', 'BWG 0a43/A (g)', 'BWG 23a36/A (g)', 'BWG 0a42/A (g)', 'FCR 0a8 (g:g)', 'FCR 0a8 (g:g) ©', 'FCR 9a15 (g:g)', 'FCR 9a15 (g:g) ©', 'FCR 16a22 (g:g)', 'FCR 16a22 (g:g) ©', 'FCR 9a22 (g:g)', 'FCR 9a22 (g:g) ©', 'FCR23a29 (g:g)', 'FCR23a29 (g:g) ©', 'FCR 29a36 (g:g)', 'FCR 29a36 (g:g) ©', 'FCR 23a36 (g:g) ', 'FCR 23a36 (g:g) (C) ', 'FCR 36a42 (g:g)', 'FCR 36a42 (g:g) ©', 'FCR 0a8 acum', 'FCR 0a8 acum ©', 'FCR 0a15 acum', 'FCR 0a15 acum ©', 'FCR 0a22 acum', 'FCR 0a22 acum ©', 'FCR 0a29 acum', 'FCR 0a29 acum ©', 'FCR 0a36 acum', 'FCR 0a36 acum ©', 'FCR 0a42 acum', 'FCR 0a42 acum ©', 'FCR 8a21', 'FCR 8a21 ©', 'FCR 21a35', 'FCR 21a35.1', 'FCR 35a42', 'Mortalidad 0a8 %', 'Mortalidad 8a14 %', 'Mortalidad 14a21 %', 'Mortalidad 21a28 %', 'Mortalidad 29a36 %', 'Mortalidad 37a42 %', 'Mortalidad 0a42 %', 'Descartes 0a8 %', 'Descartes 7a14 %', 'Descartes 14a21 %', 'Descartes 21a28 %', 'Mort+desc 0a8 (%)', 'Mort+desc 8a14 (%)', 'Mort+desc 14a21 (%)', 'Mort+desc 21a28 (%)', 'Mort+desc 28a35 (%)', 'Mort+desc 35a42 (%)', 'Mort+desc 8a21 (%)', 'Mort+desc 21a35 (%)', 'Mort+desc 0a42 (%)']

,Galpon,Bloque,Zona,Lado,Corral,Tratamiento,Aves finales sem6,Aves finales sem1,BW8/A Fin. W1,BW1/A (g),...,Mort+desc 0a8 (%),Mort+desc 8a14 (%),Mort+desc 14a21 (%),Mort+desc 21a28 (%),Mort+desc 28a35 (%),Mort+desc 35a42 (%),Mort+desc 8a21 (%),Mort+desc 21a35 (%),Mort+desc 0a42 (%),Projectid
0,1,1,Puerta,A,1,5,34,30.0,192.411765,45.314286,...,2.857143,3.703704,0,0,0,0,3.703704,0,2.857143,E267
1,1,1,Puerta,A,2,8,34,30.0,181.794118,44.942857,...,2.857143,3.703704,0,0,0,0,3.703704,0,2.857143,E267
2,1,1,Puerta,A,3,4,34,31.0,185.029412,43.428571,...,2.857143,3.703704,0,0,0,0,3.703704,0,2.857143,E267
3,1,1,Puerta,A,4,1,31,28.0,197.870968,44.484848,...,6.060606,3.703704,0,0,0,0,3.703704,0,6.060606,E267
4,1,1,Puerta,A,5,6,34,29.0,185.205882,42.057143,...,2.857143,3.703704,0,0,0,0,3.703704,0,2.857143,E267

In [6]:
E267[[i for i in E267.columns if "FCR" in i]].columns

Index(['FCR 0a8 (g:g)', 'FCR 0a8 (g:g) ©', 'FCR 9a15 (g:g)',
       'FCR 9a15 (g:g) ©', 'FCR 16a22 (g:g)', 'FCR 16a22 (g:g) ©',
       'FCR 9a22 (g:g)', 'FCR 9a22 (g:g) ©', 'FCR23a29 (g:g)',
       'FCR23a29 (g:g) ©', 'FCR 29a36 (g:g)', 'FCR 29a36 (g:g) ©',
       'FCR 23a36 (g:g) ', 'FCR 23a36 (g:g) (C) ', 'FCR 36a42 (g:g)',
       'FCR 36a42 (g:g) ©', 'FCR 0a8 acum', 'FCR 0a8 acum ©', 'FCR 0a15 acum',
       'FCR 0a15 acum ©', 'FCR 0a22 acum', 'FCR 0a22 acum ©', 'FCR 0a29 acum',
       'FCR 0a29 acum ©', 'FCR 0a36 acum', 'FCR 0a36 acum ©', 'FCR 0a42 acum',
       'FCR 0a42 acum ©', 'FCR 8a21', 'FCR 8a21 ©', 'FCR 21a35', 'FCR 21a35.1',
       'FCR 35a42'],
      dtype='object')

In [7]:
df267 = E267[['Projectid','Galpon', 'Bloque', 'Corral', 'Tratamiento', 
              'BW15/A (g)', 'BW29/A g', 'BW42/A g', 
              
              'BWG/A 8a15 (g)', 'BWG/A23a29 (g)', 'BWG/A37a42 g',
              'BWG/A 0a14 (g)', 'BWG 0a28/A (g)', 'BWG 0a42/A (g)',
              
              'FCR 9a15 (g:g) ©', 'FCR23a29 (g:g) ©', 'FCR 36a42 (g:g) ©',
              'FCR 0a15 acum ©', 'FCR 0a29 acum ©', 'FCR 0a42 acum ©']]
df267

,Projectid,Galpon,Bloque,Corral,Tratamiento,BW15/A (g),BW29/A g,BW42/A g,BWG/A 8a15 (g),BWG/A23a29 (g),BWG/A37a42 g,BWG/A 0a14 (g),BWG 0a28/A (g),BWG 0a42/A (g),FCR 9a15 (g:g) ©,FCR23a29 (g:g) ©,FCR 36a42 (g:g) ©,FCR 0a15 acum ©,FCR 0a29 acum ©,FCR 0a42 acum ©
0,E267,1,1,1,5,446.666667,1364.074074,2857.307692,252.630952,467.777778,719.230769,401.352381,1318.759788,2811.993407,1.478724,2.201900,1.618182,1.283617,1.738675,1.652339
1,E267,1,1,2,8,443.703704,1440.370370,2941.600000,254.489418,545.185185,757.600000,398.760847,1395.427513,2896.657143,1.400563,1.851902,1.572334,1.252232,1.583742,1.569614
2,E267,1,1,3,4,438.518519,1405.555556,2895.384615,248.947090,526.666667,762.307692,395.089947,1362.126984,2851.956044,1.385837,1.997187,1.544904,1.240824,1.652078,1.631945
3,E267,1,1,4,1,455.555556,1479.230769,2985.000000,255.805556,540.769231,740.000000,411.070707,1434.745921,2940.515152,1.412904,1.960882,1.632883,1.230172,1.592463,1.585980
4,E267,1,1,5,6,448.148148,1449.629630,2900.769231,258.683862,518.888889,704.230769,406.091005,1407.572487,2858.712088,1.330913,1.899358,1.685418,1.193008,1.558927,1.617675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,E267,4,2,36,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
156,E267,4,2,37,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
157,E267,4,2,38,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
158,E267,4,2,39,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
159,E267,4,2,40,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df267.rename(columns  = {'Galpon':'House', 'Bloque':'Block', 'Corral':'Pen', 'Tratamiento':'Trt', 
                         
              'BW15/A (g)':'BW14', 'BW29/A g':'BW28', 'BW42/A g':'BW42',  
                         
              'BWG/A 8a15 (g)':'BWG8_14', 'BWG/A23a29 (g)':'BWG22_28', 'BWG/A37a42 g':'BWG36_42',
              'BWG/A 0a14 (g)':'BWG0_14', 'BWG 0a28/A (g)':'BWG0_28', 'BWG 0a42/A (g)':'BWG0_42',

                         
              'FCR 9a15 (g:g) ©':'FCR8_14', 'FCR23a29 (g:g) ©':'FC22_28', 'FCR 36a42 (g:g) ©':'FCR36_42',
              'FCR 0a15 acum ©':'FCR0_14', 'FCR 0a29 acum ©':'FCR0_28', 'FCR 0a42 acum ©':'FCR0_42'
                        }, inplace = True)

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/270003083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df267.rename(columns  = {'Galpon':'House', 'Bloque':'Block', 'Corral':'Pen', 'Tratamiento':'Trt',

In [10]:
df267.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E267.csv", header=True, index=False)

# E271

In [11]:
print(list(E271.columns))
E271["Projectid"] = 'E271'
E271.head()

['Galpon', 'Bloque', 'Zona', 'Lado', 'Corral', 'Tratamiento', 'Aves finales sem6', 'Aves finales sem1', 'BW8/A Fin. W1', 'BW1, G', 'BW7, G', 'BW7 (dens. Adj), g', 'BW14, g', 'BW21, g', 'BW28, g', 'BW35, g', 'BW42, g', 'FI 0-7, g', 'FI 8-14, g', 'FI 0-14, g', 'FI 15-21, g', 'FI 8-21, g', 'FI 0-21, g', 'FI 22-28, g', 'FI 15-28, g', 'FI 29-35, g', 'FI 22-35, g', 'FI 36-42, g', 'FI 22-42, g', 'FI 29-42, g', 'FI 0-42, g', 'BWG 0-7, g', 'BWG 8-14, g', 'BWG 0-14, g', 'BWG 15-21, g', 'BWG 8-21, g', 'BWG 0-21, g', 'BWG 22-28, g', 'BWG 15-28, g', 'BWG 29-35, g', 'BWG 22-35, g', 'BWG 36-42, g', 'BWG 29-42, g', 'BWG 22-42, g', 'BWG 0-42, g', 'cBWG 0-7, g', 'cBWG 8-14, g', 'cBWG 0-14, g', 'cBWG 15-21, g', 'cBWG 8-21, g', 'cBWG 0-21, g', 'cBWG 22-28, g', 'cBWG 15-28, g', 'cBWG 29-35, g', 'cBWG 22-35, g', 'cBWG 36-42, g', 'cBWG 29-42, g', 'cBWG 22-42, g', 'cBWG 0-42, g', 'FCR 0-7', 'cFCR 0-7', 'FCR 8-14', 'cFCR 8-14', 'FCR 0-14', 'cFCR 0-14', 'FCR 15-21', 'cFCR 15-21', 'FCR 8-21', 'cFCR 8-21', 'FCR 0-21', 'cFCR 0-21', 'FCR 22-28', 'cFCR 22-28', 'FCR 15-28', 'cFCR 15-28', 'FCR 29-35', 'cFCR 29-35', 'FCR 22-35', 'cFCR 22-35', 'FCR 36-42', 'cFCR 36-42', 'FCR 29-42', 'cFCR 29-42', 'FCR 22-42', 'cFCR 22-42', 'FCR 0-42', 'cFCR 0-42', 'Mort+cull 0-7, %', 'Mort+cull 8-14, %', 'Mort+cull 0-14, %', 'Mort+cull 15-21, %', 'Mort+cull 22-28, %', 'Mort+cull 15-28, %', 'Mort+cull 29-35, %', 'Mort+cull 36-42, %', 'Mort+desc 14a21 (%)', 'Mort+desc 21a28 (%)', 'Mort+desc 28a35 (%)', 'Mort+desc 35a42 (%)', 'Mort+desc 8a21 (%)', 'Mort+desc 21a35 (%)', 'Mort+desc 0a42 (%)', 'Mort+cull 29-42, %', 'Mort+cull 22-42, %', 'Mort+cull 0-42, %']

,Galpon,Bloque,Zona,Lado,Corral,Tratamiento,Aves finales sem6,Aves finales sem1,BW8/A Fin. W1,"BW1, G",...,Mort+desc 21a28 (%),Mort+desc 28a35 (%),Mort+desc 35a42 (%),Mort+desc 8a21 (%),Mort+desc 21a35 (%),Mort+desc 0a42 (%),"Mort+cull 29-42, %","Mort+cull 22-42, %","Mort+cull 0-42, %",Projectid
0,1,1,Puerta,A,1,1.0,28,34,140.882353,42.457143,...,0.000000,3.448276,0.000000,#REF!,3.448276,9.638752,3.448276,3.448276,9.638752,E271
1,1,1,Puerta,A,2,2.0,27,32,151.65625,42.571429,...,0.000000,3.448276,3.571429,#REF!,3.448276,18.924466,7.019704,7.019704,18.924466,E271
2,1,1,Puerta,A,3,1.0,26,34,151.176471,42.114286,...,0.000000,3.703704,0.000000,#REF!,3.703704,13.457398,3.703704,3.703704,9.89418,E271
3,1,1,Puerta,A,4,2.0,26,34,154.147059,43.485714,...,3.571429,3.703704,0.000000,#REF!,7.275132,16.521727,3.703704,3.703704,16.398575,E271
4,1,1,Puerta,A,5,1.0,27,34,150.382353,42.285714,...,0.000000,3.448276,3.571429,#REF!,3.448276,13.210181,7.019704,10.591133,16.896552,E271

In [12]:
E271[[i for i in E271.columns if "c" in i]].columns

Index(['cBWG 0-7, g', 'cBWG 8-14, g', 'cBWG 0-14, g', 'cBWG 15-21, g',
       'cBWG 8-21, g', 'cBWG 0-21, g', 'cBWG 22-28, g', 'cBWG 15-28, g',
       'cBWG 29-35, g', 'cBWG 22-35, g', 'cBWG 36-42, g', 'cBWG 29-42, g',
       'cBWG 22-42, g', 'cBWG 0-42, g', 'cFCR 0-7', 'cFCR 8-14', 'cFCR 0-14',
       'cFCR 15-21', 'cFCR 8-21', 'cFCR 0-21', 'cFCR 22-28', 'cFCR 15-28',
       'cFCR 29-35', 'cFCR 22-35', 'cFCR 36-42', 'cFCR 29-42', 'cFCR 22-42',
       'cFCR 0-42', 'Mort+cull 0-7, %', 'Mort+cull 8-14, %',
       'Mort+cull 0-14, %', 'Mort+cull 15-21, %', 'Mort+cull 22-28, %',
       'Mort+cull 15-28, %', 'Mort+cull 29-35, %', 'Mort+cull 36-42, %',
       'Mort+desc 14a21 (%)', 'Mort+desc 21a28 (%)', 'Mort+desc 28a35 (%)',
       'Mort+desc 35a42 (%)', 'Mort+desc 8a21 (%)', 'Mort+desc 21a35 (%)',
       'Mort+desc 0a42 (%)', 'Mort+cull 29-42, %', 'Mort+cull 22-42, %',
       'Mort+cull 0-42, %', 'Projectid'],
      dtype='object')

In [13]:
df271 = E271[['Projectid','Galpon', 'Bloque', 'Corral', 'Tratamiento',
              
              'BW14, g', 'BW28, g', 'BW42, g',
              
              'cBWG 8-14, g', 'cBWG 22-28, g', 'BWG 36-42, g',
              'cBWG 0-14, g',                   'cBWG 0-42, g',
              
              'cFCR 8-14', 'cFCR 22-28', 'cFCR 36-42',
              'cFCR 0-14',                'cFCR 0-42']]

In [14]:
df271.rename(columns  = {'Galpon':'House', 'Bloque':'Block', 'Corral':'Pen', 'Tratamiento':'Trt',
              
              'BW14, g':'BW14', 'BW28, g':'BW28', 'BW42, g':'BW42',
              
              'cBWG 8-14, g':'BWG8_14', 'cBWG 22-28, g':'BWG22_28', 'BWG 36-42, g':'BWG36_42',
              'cBWG 0-14, g':'BWG0_14',                             'cBWG 0-42, g':'BWG0_42',
              
              'cFCR 8-14':'FCR8_14', 'cFCR 22-28':'FCR22_28', 'cFCR 36-42':'FCR36_42',
              'cFCR 0-14':'FCR0_14',                           'cFCR 0-42':'FCR0_42'
                        }, inplace = True)

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/1867358791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df271.rename(columns  = {'Galpon':'House', 'Bloque':'Block', 'Corral':'Pen', 'Tratamiento':'Trt',

In [15]:
df271.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E271.csv", header=True, index=False)

# E321

In [16]:
print(list(E321.columns))
E321["Projectid"] = 'E321'
E321.head()

['House', 'Block', 'Pen', 'Trt', 'Sex', 'Phase0Date', 'Phase1Date', 'Phase1Days', 'Phase1Count', 'Phase1Wt', 'Phase2Date', 'Phase2Count', 'Phase2Wt', 'Phase2BWG', 'Phase2FI', 'Phase2FCR', 'Phase2Mort', 'Phase2Cull', 'Phase2Days', 'Phase3Date', 'Phase3Count', 'Phase3Wt', 'Phase3BWG', 'Phase3FI', 'Phase3FCR', 'Phase3Mort', 'Phase3Cull', 'Phase3Days', 'Phase4Date', 'Phase4Count', 'Phase4Wt', 'Phase4BWG', 'Phase4FI', 'Phase4FCR', 'Phase4Mort', 'Phase4Cull', 'Phase4Days', 'StoFCount', 'StoFWt', 'StoFBWG', 'StoFFI', 'StoFFCR', 'StoFMort', 'StoFCull', 'StoFDays']

,House,Block,Pen,Trt,Sex,Phase0Date,Phase1Date,Phase1Days,Phase1Count,Phase1Wt,...,Phase4Days,StoFCount,StoFWt,StoFBWG,StoFFI,StoFFCR,StoFMort,StoFCull,StoFDays,Projectid
0,5,1,1,2,M,20200611,20200623,12,12,317.000000,...,3,10,1147,828.742424,1074.937879,1.297071,0,0,24,E321
1,5,3,2,2,M,20200611,20200623,12,12,317.333333,...,3,10,1144,834.200000,1065.230303,1.276948,0,0,24,E321
2,5,1,3,1,M,20200611,20200623,12,12,316.500000,...,3,10,1059,742.350000,1020.377273,1.374523,0,0,24,E321
3,5,1,4,5,M,20200611,20200623,12,12,317.916667,...,3,10,1090,759.074242,1053.603030,1.388011,0,0,24,E321
4,5,1,5,3,M,20200611,20200623,12,12,318.583333,...,3,10,1078,753.150000,1040.630303,1.381704,0,0,24,E321

In [17]:
E321[[i for i in E321.columns if "1" in i]].columns

Index(['Phase1Date', 'Phase1Days', 'Phase1Count', 'Phase1Wt'], dtype='object')

In [18]:
df321 = E321[['Projectid', 'House', 'Block', 'Pen', 'Trt', 
       'Phase2Wt', 
       'Phase3Wt', 'Phase3BWG', 'Phase3FCR']]

In [19]:
df321.rename(columns  = {'Phase2Wt': 'BW14',
       'Phase3Wt': 'BW21', 'Phase3BWG': 'BWG14_21', 'Phase3FCR':'FCR14_21'}, inplace = True)

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/739884541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df321.rename(columns  = {'Phase2Wt': 'BW14',

In [20]:
df321.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E321.csv", header=True, index=False)

# E325

In [21]:
print(list(E325.columns))
E325["Projectid"] = 'E325'
E325.head()

['House', 'Line', 'Pen', 'Trts', 'Trt. name', 'Block', 'BW1/A (g)', 'BW7 /A (g)', 'FI 0-7d /A (g)', 'BWG 0-7d /A (g)', 'BWG 0-7d /A (g) correct', 'FCR 0-7d  (g:g)', 'FCR 0-7d corrected (g:g)', 'Mortality 0-7 d (%)', 'Culling 0-7 d (%)', 'Mort.+Cull. 0-7 d (%)', 'BW14 /A (g)', 'FI 8-14d /A (g)', 'BWG 8-14d /A  (g) ', 'BWG 8-14d /A  (g) correct', 'FCR 8-14d  (g:g) ', 'FCR 8-14d corrected (g:g) ', 'BW21 /A (g)', 'FI 15-21d /A (g)', 'BWG 15-21d /A (g) ', 'BWG 15-21d /A (g) correct', 'FCR 15-21d (g:g) ', 'FCR 15-21d corrected (g:g) ', 'FI 0-21d /A (g)', 'BWG 0-21d /A (g) ', 'BWG 0-21d /A (g) correct', 'FCR 0-21d (g:g) ', 'FCR 0-21d corrected (g:g) ', '$/kg BWG, St', 'BW28 /A (g)', 'FI 22-28d /A (g)', 'BWG 22-28d /A (g) ', 'BWG 22-28d /A (g) correct', 'FCR 22-28d (g:g) ', 'FCR 22-28d corrected (g:g) ', 'BW35 /A (g)', 'FI 29-35d /A (g)', 'BWG 29-35d /A (g) ', 'BWG 29-35d /A (g) correct', 'FCR 29-35d (g:g) ', 'FCR 29-35d corrected (g:g) ', 'FI 22-35d /A (g)', 'BWG 22-35d /A (g) ', 'BWG 22-35d /A (g) correct', 'FCR 22-35d (g:g) ', 'FCR 22-35d corrected (g:g) ', 'FI 0-35d /A (g)', 'BWG 0-35d /A (g) ', 'BWG 0-35d /A (g) correct', 'FCR 0-35d (g:g) ', 'FCR 0-35d corrected (g:g) ']

,House,Line,Pen,Trts,Trt. name,Block,BW1/A (g),BW7 /A (g),FI 0-7d /A (g),BWG 0-7d /A (g),...,BWG 22-35d /A (g),BWG 22-35d /A (g) correct,FCR 22-35d (g:g),FCR 22-35d corrected (g:g),FI 0-35d /A (g),BWG 0-35d /A (g),BWG 0-35d /A (g) correct,FCR 0-35d (g:g),FCR 0-35d corrected (g:g),Projectid
0,1,A,1,6,NC-GP-COC,1,42.333333,189.066667,178.666667,146.733333,...,1188.206897,1236.241379,1.653985,1.589719,3140.609195,2074.540230,2122.574713,1.513882,1.479622,E325
1,1,A,2,11,NATUR GR,1,41.800000,195.666667,182.000000,153.866667,...,1197.283251,1197.283251,1.598652,1.598652,3098.062397,2102.724631,2102.724631,1.473356,1.473356,E325
2,1,A,3,2,FRACTAL,1,41.700000,192.133333,174.000000,150.433333,...,1224.137931,1224.137931,1.578592,1.578592,3083.333333,2117.748276,2117.748276,1.455949,1.455949,E325
3,1,A,4,9,CTCZYME,1,41.566667,188.724138,185.517241,145.724138,...,1192.500000,1192.500000,1.598083,1.598083,3090.332512,2058.502463,2061.812808,1.501253,1.498842,E325
4,1,A,5,7,CELMANAX,1,41.800000,188.600000,176.666667,146.800000,...,1176.333333,1176.333333,1.608954,1.608954,3017.333333,2023.200000,2023.200000,1.491367,1.491367,E325

In [22]:
E325[[i for i in E325.columns if "0-28" in i]].columns

Index([], dtype='object')

In [23]:
df325 = E325[['Projectid', 'House', 'Block', 'Pen', 'Trts',  
       'BW28 /A (g)', 
       'BWG 22-28d /A (g) correct',
       'FCR 22-28d corrected (g:g) ']]

In [24]:
df325.rename(columns  = {'Trts': 'Trt',
       'BW28 /A (g)': 'BW28', 
       'BWG 22-28d /A (g) correct': 'BWG22_28',
       'FCR 22-28d corrected (g:g) ': 'FCR22_28'}, inplace = True)

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/2318318915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df325.rename(columns  = {'Trts': 'Trt',

In [25]:
df325.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E325.csv", header=True, index=False)

# E326

In [26]:
print(list(E326.columns))
E326["Projectid"] = 'E326'
E326.head()

['Battery', 'Floor', 'Cage', 'Blind Trts ', 'Trt', 'BW12 /A (g)', 'BW14 /A (g)', 'FI 13-14d /A (g)', 'BWG 13-14d /A (g)', 'FCR 13-14d (g:g)', 'FCR 13-14d (g:g) corrected', 'Mortality 13-14d (%)', 'Culling 13-14d (%)', 'BW21 /A (g)', 'FI 15-21d /A (g)', 'BWG 15-21d /A (g)', 'FCR 15-21d (g:g)', 'FCR 15-21d (g:g) corrected', 'Mortality 15-21d (%)', 'Culling 15-21d (%)', 'FI 13-21d /A (g)', 'BWG 13-21d /A (g)', 'FCR 13-21d (g:g)', 'FCR 13-21d (g:g) corrected', 'Mortality 13-21d (%)', 'Culling 13-21d (%)', 'BW28 /A (g)', 'FI 22-28d /A (g)', 'BWG 22-28d /A (g)', 'FCR 22-28d (g:g)', 'FCR 22-28d (g:g) corrected', 'Mortality 22-28d (%)', 'Culling 22-28d (%)', 'BW35 /A (g)', 'FI 29-35d /A (g)', 'BWG 29-35d /A (g)', 'FCR 29-35d (g:g)', 'FCR 29-35d corrected (g:g)', 'Mortality 29-35d (%)', 'Culling 29-35d (%)']

,Battery,Floor,Cage,Blind Trts,Trt,BW12 /A (g),BW14 /A (g),FI 13-14d /A (g),BWG 13-14d /A (g),FCR 13-14d (g:g),...,Mortality 22-28d (%),Culling 22-28d (%),BW35 /A (g),FI 29-35d /A (g),BWG 29-35d /A (g),FCR 29-35d (g:g),FCR 29-35d corrected (g:g),Mortality 29-35d (%),Culling 29-35d (%),Projectid
0,1,5,1,2,Uncllgd + untrtd,357.500000,425.833333,91.750000,68.333333,1.342683,...,0,0.0,2237.777778,1014.333333,627.222222,1.617183,1.617183,0,0,E326
1,1,5,2,6,Natur Poultry,355.000000,420.000000,87.833333,65.000000,1.351282,...,0,0.0,2012.500000,999.375000,644.125000,1.551523,1.551523,0,0,E326
2,1,4,3,1,Chllgd + untrtd,360.000000,440.000000,100.500000,80.000000,1.256250,...,0,0.0,2270.000000,1071.666667,724.000000,1.480203,1.480203,0,0,E326
3,1,4,4,5,eXolution+Celerity,356.666667,423.333333,90.916667,66.666667,1.363750,...,0,0.0,2227.500000,1082.875000,709.500000,1.526251,1.526251,0,0,E326
4,1,3,5,3,Avinova+Ganoderma,360.833333,436.666667,98.666667,75.833333,1.301099,...,0,0.0,2148.888889,1102.666667,734.555556,1.501134,1.501134,0,0,E326

In [27]:
E326[[i for i in E326.columns if "21" in i]].columns

Index(['BW21 /A (g)', 'FI 15-21d /A (g)', 'BWG 15-21d /A (g)',
       'FCR 15-21d (g:g)', 'FCR 15-21d (g:g) corrected',
       'Mortality 15-21d (%)', 'Culling 15-21d (%)', 'FI 13-21d /A (g)',
       'BWG 13-21d /A (g)', 'FCR 13-21d (g:g)', 'FCR 13-21d (g:g) corrected',
       'Mortality 13-21d (%)', 'Culling 13-21d (%)'],
      dtype='object')

In [28]:
df326 = E326[['Projectid', 'Battery', 'Floor', 'Cage', 'Blind Trts ',  
       'BW21 /A (g)', 
       'BWG 15-21d /A (g)',
       'FCR 15-21d (g:g) corrected']]

In [29]:
df326.rename(columns  = {'Battery': 'House', 'Floor': 'Block', 'Cage': 'Pen', 'Blind Trts ': 'Trt',  
       'BW21 /A (g)': 'BW21', 
       'BWG 15-21d /A (g)': 'BWG15_21',
       'FCR 15-21d (g:g) corrected': 'FCR15_21'}, inplace = True)

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/4141119158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df326.rename(columns  = {'Battery': 'House', 'Floor': 'Block', 'Cage': 'Pen', 'Blind Trts ': 'Trt',

In [30]:
df326.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E326.csv", header=True, index=False)

# E335

# E345

In [31]:
print(list(E345.columns))
E345["Projectid"] = 'E345'
E345.head()

['House', 'Line', 'Block 1', 'Pen', 'Block 2', 'Trts', 'Formulated EM St (kcal/kg)', 'Formulated EM Fn (kcal/kg)', 'Formulated dLys St (%)', 'Formulated dLys Fn (%)', 'St diet cost ($/Kg)', 'Fs diet cost ($/Kg)', 'BW1 (g)', 'BW7  (g)', 'FI 0-7d  (g)', 'BWG 0-7d (g)', 'BWG 0-7d (g) correct', 'FCR 0-7d  (g:g)', 'FCR 0-7d corrected (g:g)', 'Mortality 0-7d (%)', 'Culling 0-7d (%)', 'Mort + Cull 0-7d (%)', 'EM intake 0-7d (kcal)', 'kcal intake/kg BWG 0-7d', 'g dLys intake 0-7', 'g dLys intake/kg BWG 0-7d', 'g Ca intake 0-7d', 'g Ca intake/ kg BWG 0-7d', 'g P intake 0-7d', 'g P intake/ kg BWG 0-7d', '$/kg BWG 0-7d', 'BW14 (g)', 'FI 8-14d (g)', 'BWG 8-14d  (g) ', 'BWG 8-14d  (g) correct', 'FCR 8-14d  (g:g) ', 'FCR 8-14d corrected (g:g) ', 'Mortality 8-14d (%)', 'Culling 8-14d (%)', 'Mort + Cull 8-14d (%)', 'EM intake 8-14d (kcal)', 'kcal intake/kg BWG 8-14d', 'g dLys intake 8-14d', 'g dLys intake/kg BWG 8-14dd', 'g Ca intake 8-14d', 'g Ca intake/ kg BWG 8-14d', 'g P intake 8-14d', 'g P intake/ kg BWG 8-14d', '$/kg BWG 8-14d', 'BW21  (g)', 'FI 15-21d  (g)', 'BWG 15-21d (g) ', 'BWG 15-21d (g) correct', 'FCR 15-21d (g:g) ', 'FCR 15-21d corrected (g:g) ', 'Mortality 15-21d (%)', 'Culling 15-21dd (%)', 'Mort + Cull 15-21d (%)', 'EM intake 15-21d (kcal)', 'kcal intake/kg BWG 15-21d', 'g dLys intake 15-21d', 'g dLys intake/kg BWG 15-21d', 'g Ca intake 15-21d', 'g Ca intake/ kg BWG 15-21d', 'g P intake 15-21d', 'g P intake/ kg BWG 15-21d', '$/kg BWG 15-21d', 'FI 0-21d (g)', 'BWG 0-21d (g) ', 'BWG 0-21d (g) correct', 'FCR 0-21d (g:g) ', 'FCR 0-21d corrected (g:g) ', 'Mortality 0 - 21d (%)', 'Culling 0 - 21d (%)', 'Mort + Cull 0 - 21d (%)', 'EM intake 0-21d (kcal)', 'kcal intake/kg BWG 0-21d', 'g dLys intake 0-21d', 'g dLys intake/kg BWG 0-21d', 'g Ca intake 0-21d', 'g Ca intake/ kg BWG 0-21d', 'g P intake 0-21d', 'g P intake/ kg BWG 0-21d', '$/kg BWG 0-21d', 'BW28  (g)', 'FI 22-28d  (g)', 'BWG 22-28d  (g)', 'BWG 22-28d  (g) correct', 'FCR 22-28d (g:g) ', 'FCR 22-28d corrected (g:g) ', 'Mortality 22 - 28d (%)', 'Culling 22 - 28d (%)', 'Mort + Cull 22 - 28d (%)', 'EM intake 22-28d (kcal)', 'kcal intake/kg BWG 22-28d', 'g dLys intake 22-28d', 'g dLys intake/kg BWG 22-28d', 'g Ca intake 22-28d', 'g Ca intake/ kg BWG 22-28d', 'g P intake 22-28d', 'g P intake/ kg BWG 22-28d', '$/kg BWG 22-28d', 'BW35  (g)', 'FI 29-35d  (g)', 'BWG 29-35d  (g)', 'BWG 29-35d  (g) correct', 'FCR 29-35d (g:g) ', 'FCR 29-35d corrected (g:g) ', 'Mortality 29 - 35d (%)', 'Culling 29 - 35d (%)', 'Mort + Cull 29 - 35d (%)', 'EM intake 29-35d (kcal)', 'kcal intake/kg BWG 29-35d', 'g dLys intake 29-35d', 'g dLys intake/kg BWG 29-35d', 'g Ca intake 29-35d', 'g Ca intake/ kg BWG 29-35d', 'g P intake 29-35d', 'g P intake/ kg BWG 29-35d', '$/kg BWG 29-35d', 'BW42  (g)', 'FI 36-42d  (g)', 'BWG 36-42d  (g)', 'BWG 36-42d  (g) correct', 'FCR 36-42d (g:g) ', 'FCR 36-42d corrected (g:g) ', 'Mortality 36 - 42d (%)', 'Culling 36 - 42d (%)', 'Mort + Cull 36 - 42d (%)', 'kg/m2 36-42d', 'EM intake 36-42d (kcal)', 'kacl intake/Kg 36-42d', 'g dLys intake 36-42d', 'g dLys intake/kg BWG 36-42d', 'g Ca intake 36-42d', 'g Ca intake/ kg BWG 36-42d', 'g P intake 36-42d', 'g P intake/ kg BWG 36-42d', '$/kg BWG 36-42d', 'FI 22-42 (g)', 'BWG 22-42d  (g) ', 'BWG 22-42d  (g) correct', 'FCR 22-42d (g:g) ', 'FCR 22-42d corrected (g:g) ', 'Mortality 22 - 42d (%)', 'Culling 22 - 42d (%)', 'Mort + Cull 22 - 42d (%)', 'EM intake 22-42d (kcal)', 'kcal intake/kg BWG 22-42d', 'g dLys intake 22-42d', 'g dLys intake/kg BWG 22-42d', 'g Ca intake 22-42d', 'g Ca intake/ kg BWG 22-42d', 'g P intake 22-42d', 'g P intake/ kg BWG 22-42d', '$/kg BWG 22-42d', 'FI 0-42d  (g)', 'BWG 0-42d  (g) ', 'BWG 0-42d  (g) correct', 'FCR 0-42d (g:g) ', 'FCR 0-42d corrected (g:g) ', 'Mortality 0 - 42d (%)', 'Culling 0 - 42d (%)', 'Mort + Cull 0 - 42d (%)', 'EM intake 0-42d (kcal)', 'kcal intake/kg BWG 0-42d', 'g dLys intake 0-42d', 'g dLys intake/kg BWG 0-42d', 'g Ca intake 29-35d.1', 'g Ca intake/ kg BWG 29-35d.1', 'g P intake 29-35d.1', 'g P intake/ kg BWG 29-35d.1', '$/kg 0-42d', '$/kg BWG 0-42d', 'Blood Myo-inositol (g/ml)']

,House,Line,Block 1,Pen,Block 2,Trts,Formulated EM St (kcal/kg),Formulated EM Fn (kcal/kg),Formulated dLys St (%),Formulated dLys Fn (%),...,g dLys intake 0-42d,g dLys intake/kg BWG 0-42d,g Ca intake 29-35d.1,g Ca intake/ kg BWG 29-35d.1,g P intake 29-35d.1,g P intake/ kg BWG 29-35d.1,$/kg 0-42d,$/kg BWG 0-42d,Blood Myo-inositol (g/ml),Projectid
0,1,A,1A,1,1,2,3100,3200,1.22,1.02,...,45.718157,17.404144,0,0,0,0,8360.111437,3182.555718,76111,E345
1,1,A,1A,2,1,8,3100,3200,1.22,1.02,...,47.852614,18.410001,0,0,0,0,8764.064911,3371.737340,54014,E345
2,1,A,1A,3,1,5,3100,3200,1.22,1.02,...,46.995577,17.752363,0,0,0,0,8667.742368,3274.199783,53196,E345
3,1,A,1A,4,1,3,3100,3200,1.22,1.02,...,47.390819,17.994882,0,0,0,0,8660.622400,3288.545747,75293,E345
4,1,A,1A,5,1,1,3100,3200,1.22,1.02,...,45.812181,17.249477,0,0,0,0,8174.540473,3077.926980,40102,E345

In [32]:
E345[[i for i in E345.columns if "correct" in i]].columns

Index(['BWG 0-7d (g) correct', 'FCR 0-7d corrected (g:g)',
       'BWG 8-14d  (g) correct', 'FCR 8-14d corrected (g:g) ',
       'BWG 15-21d (g) correct', 'FCR 15-21d corrected (g:g) ',
       'BWG 0-21d (g) correct', 'FCR 0-21d corrected (g:g) ',
       'BWG 22-28d  (g) correct', 'FCR 22-28d corrected (g:g) ',
       'BWG 29-35d  (g) correct', 'FCR 29-35d corrected (g:g) ',
       'BWG 36-42d  (g) correct', 'FCR 36-42d corrected (g:g) ',
       'BWG 22-42d  (g) correct', 'FCR 22-42d corrected (g:g) ',
       'BWG 0-42d  (g) correct', 'FCR 0-42d corrected (g:g) '],
      dtype='object')

In [33]:
df345 = E345[['Projectid','House', 'Block 2', 'Pen', 'Trts',
              
       'BW42  (g)', 
       
       'BWG 36-42d  (g) correct', 'BWG 0-42d  (g) correct',
              
       'FCR 36-42d corrected (g:g) ','FCR 0-42d corrected (g:g) ']]

In [34]:
df345.rename(columns  = {'Bloque 2':'Block', 'Trts':'Trt',
                         'BW42  (g)':'BW42',
                         'BWG 36-42d  (g) correct':'BWG36_42','BWG 0-42d  (g) correct':'BWG0_42',
                         'FCR 36-42d corrected (g:g) ':'FCR36_42','FCR 0-42d corrected (g:g) ':'FCR0_42'
                        }, inplace = True)
df345

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/497992793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df345.rename(columns  = {'Bloque 2':'Block', 'Trts':'Trt',

,Projectid,House,Block 2,Pen,Trt,BW42,BWG36_42,BWG0_42,FCR36_42,FCR0_42
0,E345,1,1,1,2,2676.818182,601.136364,2634.521364,1.888091,1.623173
1,E345,1,1,2,8,2642.727273,539.772727,2602.981061,2.148211,1.715326
2,E345,1,1,3,5,2711.818182,672.181818,2647.285731,1.865702,1.661765
3,E345,1,1,4,3,2688.636364,593.045455,2658.405455,2.059477,1.666568
4,E345,1,1,5,1,2697.826087,568.739130,2655.859130,2.054124,1.612985
...,...,...,...,...,...,...,...,...,...,...
115,E345,3,12,36,9,2781.363636,611.863636,2744.665665,1.909962,1.596274
116,E345,3,12,37,5,2961.363636,745.909091,2924.584486,1.723949,1.576336
117,E345,3,12,38,6,2866.666667,595.708333,2827.668333,1.995524,1.595785
118,E345,3,12,39,10,2855.909091,702.181818,2730.741818,1.767866,1.600504
119,E345,3,12,40,2,2870.000000,711.086957,2826.486957,1.805564,1.608892

In [35]:
df345.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E345.csv", header=True, index=False)

# E347

In [36]:
print(list(E347.columns))
E347["Projectid"] = 'E347'
E347.head()

['House', 'Line', 'Block 1', 'Pen', 'Block 2', 'Trts', 'Trts St', 'Trts Fn', 'EM_Formulated  St (kcal/kg)', 'EM_Formulated  Fn (kcal/kg)', 'dLys_Formulated St (%)', 'dLys_Formulated Fn (%)', 'Na_Analyzed St (%)', 'Na_Analyzed Fn (%)', 'Cl_Analyzed St (%)', 'Cl_Analyzed Fn (%)', 'K_Analyzed St (%)', 'K_Analyzed Fn (%)', 'Mg_Analyzed St (%)', 'Mg_Analyzed Fn (%)', 'Diet_cost St ($/kg)', 'Diet_cost Fn ($/kg)', 'BW 1 (g)', 'BW 7  (g)', 'FI 0-7d  (g)', 'WC 0-7d (g)', 'BWG 0-7d (g)', 'BWG_correct 0-7d (g)', 'FCR 0-7d  (g:g)', 'FCR_corrected 0-7d (g:g)', 'Mortality 0-7d (%)', 'Culling 0-7d (%)', 'Mort_+_Cull 0-7d (%)', 'EM_intake 0-7d (kcal)', 'kcal_intake/BWG 0-7d (kcal:kg)', 'dLys_intake 0-7 (g)', 'dLys_intake/BWG 0-7d (g:kg)', 'Na_intake 0-7d (g)', 'Na_intake/BWG 0-7d (g:kg)', 'Cl_intake 0-7d (g)', 'Cl_intake/BWG 0-7d (g:kg)', 'K_intake 0-7d', 'K_intake/BWG 0-7d (g:kg)', 'Mg_intake 0-7d (g)', 'Mg intake/BWG 0-7d (g:kg)', 'Cost_BWG 0-7d ($:kg)', 'BW 8 (g)', 'BW 14 (g)', 'FI 8-14d (g)', 'WC 8-14d (g)', 'BWG 8-14d (g) ', 'BWG_correct 8-14d  (g)', 'FCR 8-14d (g:g) ', 'FCR_corrected 8-14d (g:g) ', 'Mortality 8-14d (%)', 'Culling 8-14d (%)', 'Mort_+_Cull 8-14d (%)', 'WC/FI 8-14d (g:g)', 'WC/BWG 8-14d (g:g)', 'BW 21 (g)', 'FI 15-21d (g)', 'WC 15-21d (g)', 'BWG 15-21d (g) ', 'BWG_correct 15-21d (g)', 'FCR 15-21d (g:g) ', 'FCR_corrected 15-21d (g:g) ', 'Mortality 15-21d (%)', 'Culling 15-21d (%)', 'Mort_Cull 15-21d (%)', 'WC/FI 15-21d (g:g)', 'WC/BWG 15-21d (g:g)', 'FI 8-21d (g)', 'WC 8-21d (g)', 'BWG 8-21d (g) ', 'BWG_correct 8-21d (g)', 'FCR 8-21d (g:g) ', 'FCR_corrected 8-21d (g:g) ', 'Mortality 8-21d (%)', 'Culling 8-21d (%)', 'Mort_Cull 8-21d (%)', 'WC/FI 8-21d (g:g)', 'WC/BWG 8-21d (g:g)', 'EM_intake 8-21d (kcal)', 'kcal_intake/BWG 8-21d (kcal:kg)', 'dLys_intake 8-21d (g)', 'dLys intake/BWG 8-21d (g:kg)', 'Na_intake 0-21d (g)', 'Na_intake/BWG 0-21d (g:kg)', 'Cl_intake 0-21d (g)', 'Cl_intake/BWG 0-21d (g:kg)', 'K_intake 0-21d (g)', 'K_intake/BWG 0-21d (g:kg)', 'Mg_intake 0-21d (g)', 'Mg_intake/BWG 0-21d (g:kg)', 'Cost_BWG 0-21d ($:kg)', 'BW 28 (g)', 'FI 22-28d (g)', 'WC 22-28d (g)', 'BWG 22-28d (g)', 'BWG_correct 22-28d (g)', 'FCR 22-28d (g:g) ', 'FCR_corrected 22-28d (g:g) ', 'Mortality 22-28d (%)', 'Culling 22-28d (%)', 'Mort_Cull 22 - 28d (%)', 'WC/FI 8-21d (g:g).1', 'WC/BWG 8-21d (g:g).1', 'BW 35 (g)', 'FI 29-35d (g)', 'WC 29-35d (g)', 'BWG 29-35d  (g)', 'BWG_correct 29-35d (g)', 'FCR 29-35d (g:g)', 'FCR_corrected 29-35d (g:g) ', 'Mortality 29-35d (%)', 'Culling 29-35d (%)', 'Mort + Cull 29 - 35d (%)', 'WC/FI 29-35d (g:g)', 'WC/BWG 29-35d (g:g)', 'FI 22-35d (g)', 'WC 22-35d (g)', 'BWG 22-35d  (g)', 'BWG_correct 22-35d (g)', 'FCR 22-35d (g:g)', 'FCR_corrected 22-35d (g:g) ', 'Mort_Cull 22 - 35d (%)', 'WC/FI 22-35d (g:g)', 'WC/BWG 22-35d (g:g)', 'EM_intake 22-35d (kcal)', 'kcal_intake/BWG 22-35d (kcal:kg)', 'dLys_intake 22-35d (g)', 'dLys_intake/BWG 22-35d (g:kg)', 'Na_intake 22-35d (g)', 'Na intake/BWG 22-35d (g:kg)', 'Cl_intake 22-35d (g)', 'Cl_intake/BWG 22-35d (g:kg)', 'K_intake 22-35d (g)', 'K_intake/BWG 22-35d (g:kg)', 'Mg_intake 22-35d (g)', 'Mg_intake/BWG 22-35d (g:kg)', 'Cost_BWG 22-35d ($:kg)', 'BW 42 (g)', 'FI 36-42d (g)', 'WC 36-42d (g)', 'BWG 36-42d (g)', 'BWG_correct 36-42d (g)', 'FCR 36-42d (g:g) ', 'FCR_corrected 36-42d (g:g) ', 'Mortality 36-42d (%)', 'Culling 36-42d (%)', 'Mort + Cull 36 - 42d (%)', 'WC/FI 36-42d (g:g)', 'WC/BWG 36-42d (g:g)', 'Na_intake 36-42d (g)', 'Na_intake/BWG 36-42d (g:kg)', 'Cl_intake 36-42d (g)', 'Cl_intake/BWG 36-42d (g:kg)', 'FI 22-42 (g)', 'WC 22-42 (g)', 'BWG 22-42d (g) ', 'BWG_correct 22-42d  (g)', 'FCR 22-42d (g:g)', 'FCR_corrected 22-42d (g:g) ', 'Mortality 22-42d (%)', 'Culling 22- 42d (%)', 'Mort_Cull 22 - 42d (%)', 'WC/FI 22-42d (g:g)', 'WC/BWG 22-42d (g:g)', 'EM_intake 22-42d (kcal)', 'kcal_intake/BWG 22-42d (kcal:kg)', 'dLys_intake 22-42d (g)', 'dLys_intake/BWG 22-42d (g:kg)', 'Na_intake 22-42d (g)', 'Na_intake/BWG 22-42d (g:kg)', 'Cl_intake 22-42d (g)', 'Cl_intake/BWG 22-42d (g:kg)', 'K_intake 22-42d (g)', 'K_intake/BWG 22-42d (g:kg)', 'Mg_intake 22-42d (g)', 'Mg intake/BWG 22-42d (g:kg)', 'Cost_BWG 22-42d ($:kg)', 'FI 8-42d (g)', 'WC 8-42d (g)', 'BWG 8-42d (g) ', 'BWG_correct 8-42d  (g)', 'FCR 8-42d (g:g)', 'FCR_corrected 8-42d (g:g) ', 'Mortality 8-42d (%)', 'Culling 8-42d (%)', 'Mort_Cull 8 - 42d (%)', 'WC/FI 8-42d (g:g)', 'WC/BWG 8-42d (g:g)', 'EM_intake 8-42d (kcal)', 'kcal_intake/BWG 8-42d (kcal:kg)', 'dLys_intake 8-42d (g)', 'dLys_intake/BWG 8-42d (g:kg)', 'Na_intake 29-35d (g)', 'Na intake/BWG 29-35d (g:kg)', 'Cl_intake 29-35d (g)', 'Cl_intake/BWG 29-35d (g:kg)', 'K_intake 29-35d (g)', 'K_intake/BWG 29-35d (g:kg)', 'Mg_intake 29-35d (g)', 'Mg_intake/BWG 29-35d (g:kg)', 'Cost_BWG 8-42d ($:kg)']

,House,Line,Block 1,Pen,Block 2,Trts,Trts St,Trts Fn,EM_Formulated St (kcal/kg),EM_Formulated Fn (kcal/kg),...,Na_intake 29-35d (g),Na intake/BWG 29-35d (g:kg),Cl_intake 29-35d (g),Cl_intake/BWG 29-35d (g:kg),K_intake 29-35d (g),K_intake/BWG 29-35d (g:kg),Mg_intake 29-35d (g),Mg_intake/BWG 29-35d (g:kg),Cost_BWG 8-42d ($:kg),Projectid
0,1,A,1A,1,1,8,Na0.28Cl0.42,Na0.28Cl0.52,3100,3200,...,10.170988,3.943341,16.814828,6.474846,0,0,5.175300,2.041700,2818.054150,E347
1,1,A,1A,2,1,5,Na0.34Cl0.25,Na0.34Cl0.25,3100,3200,...,12.276434,4.888345,8.546175,3.288194,0,0,5.208783,2.104566,2904.186702,E347
2,1,A,1A,3,1,10,Na0.40Cl0.57,Na0.40Cl0.71,3100,3200,...,15.781063,6.782537,24.716821,10.562647,0,0,5.313600,2.311668,3044.342202,E347
3,1,A,1A,4,1,6,Na0.40Cl0.25,Na0.40Cl0.25,3100,3200,...,14.322358,6.154191,9.064205,3.759136,0,0,5.231122,2.277598,3113.116805,E347
4,1,A,1A,5,1,3,Na0.22Cl0.25,Na0.22Cl0.25,3100,3200,...,8.498747,3.598274,8.731617,3.602889,0,0,5.616720,2.427092,3108.903061,E347

In [37]:
E347[[i for i in E347.columns if "42" in i]].columns

Index(['BW 42 (g)', 'FI 36-42d (g)', 'WC 36-42d (g)', 'BWG 36-42d (g)',
       'BWG_correct 36-42d (g)', 'FCR 36-42d (g:g) ',
       'FCR_corrected 36-42d (g:g) ', 'Mortality 36-42d (%)',
       'Culling 36-42d (%)', 'Mort + Cull 36 - 42d (%)', 'WC/FI 36-42d (g:g)',
       'WC/BWG 36-42d (g:g)', 'Na_intake 36-42d (g)',
       'Na_intake/BWG 36-42d (g:kg)', 'Cl_intake 36-42d (g)',
       'Cl_intake/BWG 36-42d (g:kg)', 'FI 22-42 (g)', 'WC 22-42 (g)',
       'BWG 22-42d (g) ', 'BWG_correct 22-42d  (g)', 'FCR 22-42d (g:g)',
       'FCR_corrected 22-42d (g:g) ', 'Mortality 22-42d (%)',
       'Culling 22- 42d (%)', 'Mort_Cull 22 - 42d (%)', 'WC/FI 22-42d (g:g)',
       'WC/BWG 22-42d (g:g)', 'EM_intake 22-42d (kcal)',
       'kcal_intake/BWG 22-42d (kcal:kg)', 'dLys_intake 22-42d (g)',
       'dLys_intake/BWG 22-42d (g:kg)', 'Na_intake 22-42d (g)',
       'Na_intake/BWG 22-42d (g:kg)', 'Cl_intake 22-42d (g)',
       'Cl_intake/BWG 22-42d (g:kg)', 'K_intake 22-42d (g)',
       'K_intake/BWG 22-42d (g:kg)', 'Mg_intake 22-42d (g)',
       'Mg intake/BWG 22-42d (g:kg)', 'Cost_BWG 22-42d ($:kg)', 'FI 8-42d (g)',
       'WC 8-42d (g)', 'BWG 8-42d (g) ', 'BWG_correct 8-42d  (g)',
       'FCR 8-42d (g:g)', 'FCR_corrected 8-42d (g:g) ', 'Mortality 8-42d (%)',
       'Culling 8-42d (%)', 'Mort_Cull 8 - 42d (%)', 'WC/FI 8-42d (g:g)',
       'WC/BWG 8-42d (g:g)', 'EM_intake 8-42d (kcal)',
       'kcal_intake/BWG 8-42d (kcal:kg)', 'dLys_intake 8-42d (g)',
       'dLys_intake/BWG 8-42d (g:kg)', 'Cost_BWG 8-42d ($:kg)'],
      dtype='object')

In [38]:
E347['BWG0_42'] = E347['BWG_correct 0-7d (g)'] + E347['BWG_correct 8-42d  (g)'] 
#E347['FCR0_42'] = E347['FCR_corrected 0-7d (g:g)'] + E347['FCR_corrected 8-42d (g:g) ']

In [39]:
df347 = E347[['Projectid','House', 'Block 2','Pen','Trts',
              
      'BW 42 (g)', 
    
      'BWG_correct 36-42d (g)', 'BWG0_42',
    
      'FCR_corrected 36-42d (g:g) ']]

In [40]:
df347.rename(columns  = {'Block 2':'Block', 'Trts':'Trt', 
                         
                         'BW 42 (g)':'BW42',
                         
                         'BWG_correct 36-42d (g)':'BWG36_42',
                         
                         'FCR_corrected 36-42d (g:g) ':'FCR36_42'
                         }, inplace = True)

/var/folders/8_/97xnhkcj3qvf45tl2cgtc7vc0000gp/T/ipykernel_77406/3688356485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df347.rename(columns  = {'Block 2':'Block', 'Trts':'Trt',

In [41]:
df347.to_csv("/Users/sebastianbedoyamazo/Documents/siwa/siwa2022/performance/performance_df/performance_E347.csv", header=True, index=False)